
/*Елементы меню*/
.naw{
	width:300px;
	height:220px;
	background:#a8120a;
    padding-left: 0px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    }
.element_naw{
	width:220px;
    cursor:pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 25px;
    color:#fff;
	background:#a8120a;
	list-style: none;
	font-family: 'Rajdhani', sans-serif;
	text-align:center;
}
.element_naw:hover{
	width:250px;
	transition-duration: 3s;
	padding-left:15px;
	color:#fff;
}